<head>
{% load bootstrap_toolkit %}

{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
{% bootstrap_javascript_tag %}
</head>

<body>

{% if error_message %}
<p>
    <div class="alert alert-danger">
<!--        <button type="button" class="close" data-dismiss="alert">&times;</button> -->
        {{error_message}}
    </div>
</p>
{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post" class="form-vertical">
{% csrf_token %}
{{ form|as_bootstrap }}
    <fieldset>
        <legend>{{ poll.question }}</legend>
        <div class="form-group" >
            <div class="form-actions">
                <div class="radio">
                {% for choice in poll.choice_set.all %}
                    <label>
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" >
                        {{ choice.choice_text }}
                    </label>
                    <br>
                {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Vote</button>
        </div>
    </fieldset>
</form>
</body>
